config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = false
lombok.anyConstructor.suppressConstructorProperties = false

lombok.accessors.chain = true
lombok.accessors.fluent = false

lombok.experimental.flagUsage = WARNING
lombok.log.log4j.flagUsage = WARNING
lombok.log.log4j2.flagUsage = WARNING
lombok.log.javaUtilLogging.flagUsage = WARNING
lombok.log.apacheCommons.flagUsage = WARNING
lombok.log.jbosslog.flagUsage = WARNING
lombok.log.xslf4j.flagUsage = WARNING
lombok.log.flogger.flagUsage = WARNING
